body {
    background-color: #ff9de050;
}
h1, h2, h3 {
    color: #ff4eb6;
}
hr {
    border-color: darkgray;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 5%;
}